*{
    font-family: 'Lucida Sans';
    color: rgb(142, 41, 140);
}
h1,h3{
    color: #b92b27;
}
#login{
    background-color: white;
}
#signup {
    background-color:#b92b27;
    color: white;
}
.upvote{
    background-color: green;
    color: white;

}
p a{
    color: purple;
    background-color: yellow;
}
nav ul li a {
    color: hotpink;
}
p+h3{
    text-decoration: double underline;
}
.answer{
    background-color:#c1121f ;
    color:#fdf0d5 ;
}
div>input{
    background-color: darkgray;
}
input[type="text"] {
    background-color: #b92b27;
    color: white;
}
input[type="password"] {
    background-color: #c1121f;
    color: white;
}
/* pseudo code */
button:hover {
    background-color: black;
    color: white;
}
h3:hover {
    text-decoration: overline;
}
button:active {
    background-color: hotpink;
    color: black;
}
p :active{
    font-weight: bold;
    color: green;
}
input[type="radio"]:checked +label{
    color: #b92b27;
    font-weight: bold;
}
.post:nth-of-type(2){
    background-color: blanchedalmond;

}
H1::first-letter{
    color: green;
}
p::first-line{
    color:blue;
}
p::selection{
    color: rgb(242, 214, 35);
}
h3{
    background-color: yellow;
}
h3{
    background-color: pink;
}